@font-face {
  font-family: Alexandria;
  src: url("../assets/font/Alexandria-VariableFont_wght.ttf");
}
:root {
  --nav-link-color: #6b6b6b;
  --primary-color: #9acc20;
  --Alexandria: Alexandria;
  --heading-color: #242424;
  --paragraph-color: #464646;
  --white-color:#ffffff;
}
body{
  cursor: none;
}
/* center fix */
.cursor-dot,
.cursor-ring{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.cursor-dot{
  width:20px;
  height:20px;
  background:#888b84;
  border-radius:50%;
}

.cursor-ring{
  width:55px;
  height:55px;
  border:2px solid #a8c788;
  border-radius:50%;
}
.title1{
    font-size: 115px;
    font-weight: 500;
    font-family: var(--Alexandria);
    color: #ffffff;
}
.title2{
    font-size: 44px;
    font-weight: 500;
    font-family: var(--Alexandria);
}

.title3{
    font-size: 18px;
    font-weight: 500;
    font-family: var(--Alexandria);
}
p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Arial";
    
}
/* HEADER SECTION */
.hdr-sec {
  padding: 15px 0;
}
.nav-item {
  margin-right: 50px;
}
.active {
  color: var(--primary-color) !important;
}

.nav-link {
  color: var(--nav-link-color);
  font-family: "Arial";
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color);
}
.tertiary-btn {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-family: "Arial";
  font-weight: bold;
  color: var(--primary-color);
  padding: 14px 35.5px;
  margin-right: 15px;
}

.primary-btn {
  padding: 14.5px 30.5px;
  border-radius: 10px;
  background: var(--primary-color);
  color: #ffffff;
  font-family: "Arial";
  font-weight: bold;
}

/*  ABOUT BANNER SECTION  */

.bnr-sec{
    background: url('../assets/about-bnr-img.png') no-repeat center/cover;
    min-height: 50vh;
    display: flex;
    align-items: center;
}
/* Why Choose Drone Fly Section */

.Why-Choose-DroneFly-sec{
    padding: 100px 0;
}

.left-side-img{
    max-width: 500px;
}

.left-side-img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-side-cntn .title2{
    margin-bottom: 45px;
}
.right-side-cntn p{
    line-height: 32px;
}

/* Our Mission & Vision Section */

.left-mission-cntn p{
 line-height: 28px;
 margin-top: 23px;
}



.stats-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mission-box{
    max-width: 237px;
}

.mission-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

/* 7K card */
.stat-box {
  max-width: 209px;
  background: linear-gradient(#8f9250, #c9cf7b);
  color: white;
  border-radius: 25px;
  text-align: center;
  padding: 40px;
}

/* round box */
.stat-circle {
  width: 178px;
  height: 178px;
  background: linear-gradient(#8f9250, #c9cf7b);
  color: white;
  border-radius: 50%;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}



/* Meet Our Team Section */

.team-sec {
  padding: 80px 0;
 
}
.our-team-cntn{
    text-align: center;
    
}
.our-team-cntn p{
    max-width: 652px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 53px;
}



.team-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-card {
  text-align: center;
  width: 260px;
}

.img-box {
  margin: auto;
  overflow: hidden;
  border-radius: 100px 100px 0 0;
  max-width: 235px;
    border-bottom-right-radius: 120px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  background: #dfe2cf;
  padding: 30px 30px;
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
 border-top-left-radius: 60px;
 border-top-right-radius: 60px;
}

.info.dark {
  background: #bfbfbf;
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
 border-top-left-radius: 60px;
 border-top-right-radius: 60px;
}

.info.green {
  background: #d8e4d1;
  border-bottom-left-radius: 20px;
  border-bottom-left-radius: 20px;
 border-top-left-radius: 60px;
 border-top-right-radius: 60px;
}

.info .title3 {
  margin-bottom: 8px;
}

.info p {
  font-size: 14px;
  color: #555;
}

/* FOOTER-SECTION */

.footer-sec {
  padding: 50px 0;
  background: #3d5306;
  min-height: 80vh;
}
.ftr-cntn p {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
  color: #f5ebeb;
  margin-top: 37px;
}
/* .ftr-link {
  margin: 0 !important;
} */
.ftr-link li {
  margin-bottom: 15px;
}
.ftr-contact span {
  margin-left: 20px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}
.ftr-heading {
  font-size: 32px;
  font-weight: bold;
  font-family: "Arial";
  color: #f1f1f1;
  margin-bottom: 37px;
}
.ftr-link li > a {
  color: #f1f1f1;
}
.last-col p{
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}

#useremail{
  width: 100%;
  border-radius: 7px;
  border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border: 1px solid #ffffff;
    color: #FCF1F1;
    padding: 7.5px 0 7.5px 27px;
    margin-bottom: 12px;
}

.subscribe-btn{
  background: var(--primary-color);
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
}

.line{
  width: 1140px;
  height: 0.8px;
  margin-top: 50px;
  margin-bottom: 17px;
  background: #C9C9C9;
}

.footer-down{
  text-align: center;
}
.footer-down span{
  color: #f1f1f1;
  font-size: 12px;
  font-weight: 400;
  font-family: "Arial";
}
.footer-down>span>a{
  margin-left: 30px;
}

.ftr-link li a{
  transition: 0.5s linear !important;
}
.ftr-link li a:hover {
  transform: scale(1.3) !important;
}
.offcanvas {
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1200px ) {

   .offcanvas {
    flex-direction: column;
    background: url('../assets/offcanvas-bg.jpg') no-repeat center/cover;
    backdrop-filter: blur(50px);
 
  }

  .nav-link , .active{
    color: #f1f1f1;
  }

     .offcanvas .navbar-nav .nav-link {
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
        line-height: 1.2;
        padding: 6px 0;
        color: #ffffff;
    } 

    .offcanvas .navbar-nav {
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin: 10px auto 10px;
    }
    .navbar-toggler {
    margin-left: auto;
    padding: 0;
    display: flex;
    position: relative;
    z-index: 999;
  }

  .navbar-toggler > span {
    background: none;
    height: 2px;
    width: 30px;
    background: var(--primary-color);
  }

  .navbar-toggler::after,
  .navbar-toggler::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: var(--primary-color);
    height: 2px;
    top: 0;
  }

  .navbar-toggler::before {
    top: 7px;
  }

  .navbar-toggler::after {
    top: -7px;
  }

  .btn-close {
    background: var(--primary-color);
}  
}

@media screen and (max-width:1115px){
  .col-3, .col-2{
    width: 50%;
    margin-top: 20px;
  }
}


@media screen and (max-width:992px){
    .left-side-img{
        margin-bottom: 20px;
        margin: auto;
    }

    .title2{
        font-size: 39px;
    }
}
@media screen and (max-width:768px){
    .bnr-cntn .title1{
        font-size: 100px;
    }
    .right-side-cntn .title2{
    font-size: 32px;
}
.right-side-cntn .title2 {
    margin-bottom: 25px;}

   .team-card{
    margin-top: 20px;
   }
    .col-4 {
    width: 100%;
  }
}

@media screen and (max-width:576px){
    .bnr-cntn .title1{
        font-size: 62px;
    }
     .right-side-cntn .title2{
    font-size: 25px;
}
.col-2 , .col-3{
    width: 100%;
  
  }
   .footer-up{
    text-align: center;
  }
  .team-wrapper{
    margin: auto;
  }
  .title2{
    font-size: 25px;
  }
}

@media screen and (max-width:375px){
    .ftr-cntn p  , .last-col p{
    font-size: 13px;
  }
  .ftr-contact span , .ftr-link li{
    font-size: 14px ;
  }

  .title2{
    font-size: 25px;
  }
}