@font-face {
  font-family: Alexandria;
  src: url("../assets/font/Alexandria-VariableFont_wght.ttf");
}
:root {
  --nav-link-color: #6b6b6b;
  --primary-color: #9acc20;
  --Alexandria: Alexandria;
  --heading-color: #242424;
  --paragraph-color: #464646;
  --white-color: #ffffff;
}
body{
  cursor: none;
}
/* center fix */
.cursor-dot,
.cursor-ring{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.cursor-dot{
  width:20px;
  height:20px;
  background:#888b84;
  border-radius:50%;
}

.cursor-ring{
  width:55px;
  height:55px;
  border:2px solid #a8c788;
  border-radius:50%;
}
.nav-container {
  max-width: 1283px !important;
}

.title1 {
  font-size: 115px;
  font-weight: 500;
  font-family: var(--Alexandria);
  color: #ffffff;
}
.title2 {
  font-size: 44px;
  font-weight: 500;
  font-family: var(--Alexandria);
}

.title3 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--Alexandria);
}
.title4 {
  font-size: 32px;
  font-weight: bold;
  font-family: var(--Alexandria);
}
.title6 {
  font-size: 24px;
  font-weight: 500;
  font-family: var(--Alexandria);
}
p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}
/* HEADER SECTION */
.hdr-sec {
  padding: 15px 0;
}
.nav-item {
  margin-right: 50px;
}
.active {
  color: var(--primary-color) !important;
}

.nav-link {
  color: var(--nav-link-color);
  font-family: "Arial";
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color);
}
.tertiary-btn {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-family: "Arial";
  font-weight: bold;
  color: var(--primary-color);
  padding: 14px 35.5px;
  margin-right: 15px;
}

.primary-btn {
  padding: 14.5px 30.5px;
  border-radius: 10px;
  background: var(--primary-color);
  color: #ffffff;
  font-family: "Arial";
  font-weight: bold;
}

/*  CONTACT BANNER SECTION  */

.bnr-sec {
  background: url("../assets/contact-bnr-bg.png") no-repeat center/cover;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

/* Get In Touch Section */

.get-in-touch-sec {
  padding: 100px 0;
}

.ditails-contact{
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.contact-details-cntn{
  margin-left: 18px;
}
form {
  background: #f2f2f2;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 44px 43.5px;
}

label{
  font-size: 18px;
  font-family: var(--Alexandria);
  font-weight: 400;
  color: #444444;
}
input , .textarea{
  font-family: "Arial";
  color: #7c7b7b;
  font-weight: 400;
  font-size: 14px;
  padding: 15.5px 27px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-block: 10px;
}
.btn {
  background: var(--primary-color);
  margin-top: 43px;
  color: #f1f1f1;
}
.btn:hover{
  background: var(--primary-color);
  color: #ffffff;
}

/* FOOTER-SECTION */

.footer-sec {
  padding: 50px 0;
  background: #3d5306;
  min-height: 80vh;
}
.ftr-cntn p {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
  color: #f5ebeb;
  margin-top: 37px;
}
/* .ftr-link {
  margin: 0 !important;
} */
.ftr-link li {
  margin-bottom: 15px;
}
.ftr-contact span {
  margin-left: 20px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}
.ftr-heading {
  font-size: 32px;
  font-weight: bold;
  font-family: "Arial";
  color: #f1f1f1;
  margin-bottom: 37px;
}
.ftr-link li > a {
  color: #f1f1f1;
}
.last-col p {
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}

#useremail {
  width: 100%;
  border-radius: 7px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff;
  color: #fcf1f1;
  padding: 7.5px 0 7.5px 27px;
  margin-bottom: 12px;
}

.subscribe-btn {
  background: var(--primary-color);
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
}

.line {
  max-width: 1140px;
  height: 0.8px;
  margin-top: 50px;
  margin-bottom: 17px;
  background: #c9c9c9;
}

.footer-down {
  text-align: center;
}
.footer-down span {
  color: #f1f1f1;
  font-size: 12px;
  font-weight: 400;
  font-family: "Arial";
}
.footer-down > span > a {
  margin-left: 30px;
}

.ftr-link li a {
  transition: 0.5s linear !important;
}
.ftr-link li a:hover {
  transform: scale(1.3) !important;
}

.offcanvas {
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .offcanvas {
    flex-direction: column;
    background: #b3c18b;
    backdrop-filter: blur(20px);
  }

  .navbar-toggler {
    margin-left: auto;
    padding: 0;
    display: flex;
    position: relative;
    z-index: 999;
  }

  .navbar-toggler > span {
    background: none;
    height: 2px;
    width: 30px;
    background: var(--primary-color);
  }

  .navbar-toggler::after,
  .navbar-toggler::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: var(--primary-color);
    height: 2px;
    top: 0;
  }

  .navbar-toggler::before {
    top: 7px;
  }

  .navbar-toggler::after {
    top: -7px;
  }

  .btn-close {
    background: var(--primary-color);
  }
}

@media screen and (max-width: 1115px) {
  .col-3,
  .col-2 {
    width: 50%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 992px) {
  form .title4 {
    font-size: 25px;
  }
  .left-cntn{
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .col-4 {
    width: 100%;
  }
  .bnr-cntn .title1 {
    font-size: 100px;
  }

  form {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .col-2,
  .col-3 {
    width: 100%;
  }
  .footer-up {
    text-align: center;
  }
  .title2 {
    font-size: 25px;
  }
  .bnr-cntn .title1 {
    font-size: 62px;
  }

  .left-cntn p{
    font-size: 13px;
  }
}
  

@media screen and (max-width: 375px) {
  .ftr-cntn p,
  .last-col p {
    font-size: 13px;
  }
  .ftr-contact span,
  .ftr-link li {
    font-size: 14px;
  }
  form .title4 {
    font-size: 21px;
  }

  .bnr-cntn .title1 {
    font-size: 50px;
  }
  .title6{
    font-size: 22px;
  }
}
