@font-face {
  font-family: Alexandria;
  src: url("../assets/font/Alexandria-VariableFont_wght.ttf");
}
:root {
  --nav-link-color: #6b6b6b;
  --primary-color: #9acc20;
  --Alexandria: Alexandria;
  --heading-color: #242424;
  --paragraph-color: #464646;
  --white-color: #ffffff;
}
.nav-container {
  max-width: 1283px !important;
}
.title2{
  font-size: 33px;
  font-weight: 500;
  font-family: var(--Alexandria);
}
.title5{
    font-size: 24px;
    font-weight: bold;
    font-family: var(--Alexandria);

}
.title6{
    font-size: 22px;
    font-weight: 500;
    font-family: var(--Alexandria);
}
p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}

/* HEADER SECTION */

.hdr-sec {
  padding: 15px 0;
}
.nav-item {
  margin-right: 50px;
}
.active {
  color: var(--primary-color) !important;
}

.nav-link {
  color: var(--nav-link-color);
  font-family: "Arial";
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color);
}
.tertiary-btn {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-family: "Arial";
  font-weight: bold;
  color: var(--primary-color);
  padding: 14px 35.5px;
  margin-right: 15px;
}

.primary-btn {
  padding: 14.5px 30.5px;
  border-radius: 10px;
  background: var(--primary-color);
  color: #ffffff;
  font-family: "Arial";
  font-weight: bold;
}
/* Personal-Details-Section */

.personal-details-sec{
    padding: 100px 0;
}

form{
    background: #F2F2F2;
    border-radius: 21px;
    padding: 26px 35px;
    box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    margin-top: 42px;
}
.black-line{
  height: 0.5px;
  background: #595959;
  margin: 28.5px 0;
}
label{
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial" ;
}

input , select{
    width: 100%;
    padding: 9px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #EFF1E9;
}

.process-btn{
    background: var(--primary-color);
    padding: 15px 16.5px;
    color: #ffffff;
    border-radius: 10px;
}

/* product-rent-card */

.product-card{
background: #F2F2F2;
    border-radius: 21px;
    padding: 17px 29px;
    box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.25);
    margin-top: 42px;
}
.product-img{
    max-width: 55px;
}

.product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.qty{
    width: 60px;
    font-size: 11px;
    border: none;
    margin-top: 10px;
    color: #242424;
}
.green-circle{
  width: 4px;
  height: 4px;
  background: var(--primary-color);
  border-radius: 50%;
  margin-right: 2px;
}
span{
    display: inline-block;
    font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
  margin-bottom: 6px;
}
/* FOOTER-SECTION */

.footer-sec {
  padding: 50px 0;
  background: #3d5306;
  min-height: 80vh;
}
.ftr-cntn p {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
  color: #f5ebeb;
  margin-top: 37px;
}
/* .ftr-link {
  margin: 0 !important;
} */
.ftr-link li {
  margin-bottom: 15px;
}
.ftr-contact span {
  margin-left: 20px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}
.ftr-heading {
  font-size: 32px;
  font-weight: bold;
  font-family: "Arial";
  color: #f1f1f1;
  margin-bottom: 37px;
}
.ftr-link li > a {
  color: #f1f1f1;
}
.last-col p {
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}

#useremail {
  width: 100%;
  border-radius: 7px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border: 1px solid #ffffff;
  color: #fcf1f1;
  padding: 7.5px 0 7.5px 27px;
  margin-bottom: 12px;
}

.subscribe-btn {
  background: var(--primary-color);
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
}

.line {

  height: 0.8px;
  margin-top: 50px;
  margin-bottom: 17px;
  background: #c9c9c9;
}

.footer-down {
  text-align: center;
}
.footer-down span {
  color: #f1f1f1;
  font-size: 12px;
  font-weight: 400;
  font-family: "Arial";
}
.footer-down > span > a {
  margin-left: 30px;
}

.ftr-link li a {
  transition: 0.5s linear !important;
}
.ftr-link li a:hover {
  transform: scale(1.3) !important;
}

.offcanvas {
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .offcanvas {
    flex-direction: column;
    background: url('../assets/offcanvas-bg.jpg') no-repeat center/cover;
    backdrop-filter: blur(50px);
 
  }

  .nav-link , .active{
    color: #f1f1f1;
  }

  .navbar-toggler {
    margin-left: auto;
    padding: 0;
    display: flex;
    position: relative;
    z-index: 999;
  }

  .navbar-toggler > span {
    background: none;
    height: 2px;
    width: 30px;
    background: var(--primary-color);
  }

  .navbar-toggler::after,
  .navbar-toggler::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: var(--primary-color);
    height: 2px;
    top: 0;
  }

  .navbar-toggler::before {
    top: 7px;
  }

  .navbar-toggler::after {
    top: -7px;
  }

  .btn-close {
    background: var(--primary-color);
  }
}

@media screen and (max-width: 1115px) {
  .col-3,
  .col-2 {
    width: 50%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .col-4 {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .col-2,
  .col-3 {
    width: 100%;
  }
  .footer-up {
    text-align: center;
  }
  .title2{
    font-size: 25px;
  }
}
@media screen and (max-width: 375px) {
  .ftr-cntn p,
  .last-col p {
    font-size: 13px;
  }
  .ftr-contact span,
  .ftr-link li {
    font-size: 14px;
  }
}