*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body,
html{
    overflow-x: hidden;
}

:root{
    --primary-color: #9acc20;
}
a{
    text-decoration: none;
    display: inline-block;
}
body{
    background: url('../assets/login-bg.png')no-repeat center/cover;
    min-height: 100vh;
    
}
.log-in-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 62px 0;
}
.glass-card{
    max-width: 500px;
    padding: 49px 50px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 15%);
    backdrop-filter: blur(10px);
    
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
    
}

.nav-logo> a{
    max-width: 126px;
}
.nav-logo > a > img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

p{
    color: #EEDDDD;
    font-family: "Arial";
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 35px;
    text-align: center;
}
.details{
    color: #F5EBEB;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    
}
#useremail,
#password{
    width: 400px;
    padding-block: 15px;
    padding-left: 27px;
    border-radius: 10px;
    border: none;
    margin: 20px 0 15px;
}
.log-in-btn{
    background: var(--primary-color);
    border: none;
    color: #F5EBEB;
    width: 400px;
    padding: 16px 0;
    border-radius: 10px;
    margin: 30px 0 25px;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
}

.check-box span{
    color: #F5EBEB;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
}

.check-box a{
    margin-left: auto;
    color: var(--primary-color);
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
}


.signup{
    color: #555555;
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
    text-align: start;
}

.signup> a{
    color: var(--primary-color);
    font-family: "Arial";
    font-size: 13px;
    font-weight: bold;
}

@media screen and (max-width:768px){
    .glass-card{
        padding: 40px 35px;
    }

    #useremail,
#password,
.log-in-btn{
    width: 350px;
}
p{
    font-size: 12px;
    margin-bottom: 16px;
}
.nav-logo{
    margin-bottom: 20px;
}
}

@media screen and (max-width:425px){
        #useremail,
#password,
.log-in-btn{
    width: 320px;
}
}
@media screen and (max-width:375px){
        #useremail,
#password,
.log-in-btn{
    width: 250px;
}

.nav-logo> a{
    max-width: 110px;
}
p{
    font-size: 10px;
    
}
}