@font-face {
  font-family: Alexandria;
  src: url("../assets/font/Alexandria-VariableFont_wght.ttf");
}
:root {
  --nav-link-color: #6b6b6b;
  --primary-color: #9acc20;
  --Alexandria: Alexandria;
  --heading-color: #242424;
  --paragraph-color: #464646;
  --white-color: #ffffff;
}
body{
  cursor: none;
}
/* center fix */
.cursor-dot,
.cursor-ring{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.cursor-dot{
  width:20px;
  height:20px;
  background:#888b84;
  border-radius:50%;
}

.cursor-ring{
  width:55px;
  height:55px;
  border:2px solid #a8c788;
  border-radius:50%;
}
.nav-container {
  max-width: 1283px !important;
}

.title1 {
  font-size: 115px;
  font-weight: 500;
  font-family: var(--Alexandria);
  color: #ffffff;
}
.title2 {
  font-size: 44px;
  font-weight: 500;
  font-family: var(--Alexandria);
}

.title3 {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--Alexandria);
}

.title5{
  font-size: 24px;
  font-weight: 500;
  font-family: var(--Alexandria);
}
p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}
/* HEADER SECTION */
.hdr-sec {
  padding: 15px 0;
}
.nav-item {
  margin-right: 50px;
}
.active {
  color: var(--primary-color) !important;
}

.nav-link {
  color: var(--nav-link-color);
  font-family: "Arial";
  font-weight: bold;
}

.nav-link:hover {
  color: var(--primary-color);
}
.tertiary-btn {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  font-family: "Arial";
  font-weight: bold;
  color: var(--primary-color);
  padding: 14px 35.5px;
  margin-right: 15px;
}

.primary-btn {
  padding: 14.5px 30.5px;
  border-radius: 10px;
  background: var(--primary-color);
  color: #ffffff;
  font-family: "Arial";
  font-weight: bold;
}

/*  ABOUT BANNER SECTION  */

.bnr-sec {
  background: url("../assets/service-bg.png") no-repeat center/cover;
  min-height: 50vh;
  display: flex;
  align-items: center;
}

/* Our Drone Services Section */

.drone-service-sec{
  padding: 100px 0;
}


.drone-service-cntn p{
  max-width: 528px;
  margin: auto;
  line-height: 27px;
  margin-bottom: 52px;
}

.drone-card{
  background: #FEFEFE;
  border: 1px solid #EFF1E9;
  border-radius: 21px;
  padding: 18.5px ;
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}

.img-card{
margin: auto;
}

.img-card > img{
  width: 100%;
  height: 149px;
  object-fit: cover;
  border-radius: 15px;
}
.drone-card .img-cntn{
  font-size: 18px;
  font-family: var(--Alexandria);
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

.shine-img{
  position: relative;
  overflow: hidden;
}
.shine-img::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(335deg, transparent, rgba(255, 255, 255, 0.25), transparent);
    animation: shineMove 3s infinite;
}

@keyframes shineMove {
  100%{
    left: 150%;
  }
}

/*  How It Works Section */

.it-works-sec{
  padding: 100px 0;
}
.middle-drone-img{
  max-width: 466px;
  margin-top: 105px;
}

.middle-drone-img > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works-wrapper{
  position:relative;
  height:650px;
}


.circle{
  position:absolute;
  width:247px;
  padding:60px 13px;
  background:#e8efd7;
  border-radius:55% 45% 60% 40% / 45% 60% 40% 55%;
  text-align:center;
  /* box-shadow:0 10px 25px rgba(0,0,0,0.08); */
}


.number{
  position:absolute;
  top:-83px;
  left:50%;
  transform:translateX(-50%);
  font-size:60px;
  background:linear-gradient(to bottom,#DDFB8D,#6A7360);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:700;
}
.circle1{
top: 40px; 
left: 10px;
}

.circle2{ 
  bottom: 64px; 
  left: 120px; 
}

.circle3{ 
  bottom:0; 
  left:50%; 
  transform:translateX(-50%); 
}

.circle4{ 
  bottom:80px; 
  right:12%;
 }

.circle5{ 
  top:32px; 
  right:0%; 
}




/* FOOTER-SECTION */

.footer-sec {
  padding: 50px 0;
  background: #3d5306;
  min-height: 80vh;
}
.ftr-cntn p {
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
  color: #f5ebeb;
  margin-top: 37px;
}
/* .ftr-link {
  margin: 0 !important;
} */
.ftr-link li {
  margin-bottom: 15px;
}
.ftr-contact span {
  margin-left: 20px;
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}
.ftr-heading {
  font-size: 32px;
  font-weight: bold;
  font-family: "Arial";
  color: #f1f1f1;
  margin-bottom: 37px;
}
.ftr-link li > a {
  color: #f1f1f1;
}
.last-col p{
  color: #f1f1f1;
  font-size: 16px;
  font-weight: 400;
  font-family: "Arial";
}

#useremail{
  width: 100%;
  border-radius: 7px;
  border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border: 1px solid #ffffff;
    color: #FCF1F1;
    padding: 7.5px 0 7.5px 27px;
    margin-bottom: 12px;
}

.subscribe-btn{
  background: var(--primary-color);
  color: #000;
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  width: 100%;
}

.line{
  width: 1140px;
  height: 0.8px;
  margin-top: 50px;
  margin-bottom: 17px;
  background: #C9C9C9;
}

.footer-down{
  text-align: center;
}
.footer-down span{
  color: #f1f1f1;
  font-size: 12px;
  font-weight: 400;
  font-family: "Arial";
}
.footer-down>span>a{
  margin-left: 30px;
}

.ftr-link li a{
  transition: 0.5s linear !important;
}
.ftr-link li a:hover {
  transform: scale(1.3) !important;
}


.offcanvas {
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .offcanvas {
    flex-direction: column;
    background: url('../assets/offcanvas-bg.jpg') no-repeat center/cover;
    backdrop-filter: blur(50px);
 
  }

  .nav-link , .active{
    color: #f1f1f1;
  }

  .navbar-toggler {
    margin-left: auto;
    padding: 0;
    display: flex;
    position: relative;
    z-index: 999;
  }

  .navbar-toggler > span {
    background: none;
    height: 2px;
    width: 30px;
    background: var(--primary-color);
  }

  .navbar-toggler::after,
  .navbar-toggler::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background: var(--primary-color);
    height: 2px;
    top: 0;
  }

  .navbar-toggler::before {
    top: 7px;
  }

  .navbar-toggler::after {
    top: -7px;
  }

  .btn-close {
    background: var(--primary-color);
  }
}

@media screen and (max-width:1115px){
  .col-3, .col-2{
    width: 50%;
    margin-top: 20px;
  }
   .circle2{
    left: -4px;
  }
  .circle4{
    right: 7%;
  }
}
@media screen and (max-width:992px){
  .drone-card{
    margin-top: 15px;
  }
  .circle1{
    left: -60px;
  }
  .circle2{
    left: -25px;
  }
  .circle4{
    right: -5%;
  }
  .circle5{
    top: 42px;
    right: -54px;
  }
}
@media screen and (max-width: 768px){
  .col-4 {
    width: 100%;
  }
  .bnr-cntn .title1{
        font-size: 100px;
    }
   .sub-cntn{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .number{
    font-size: 40px;
    top: 0;
    left: 0;
  }
 .circle{
  position: relative;
  width: 50%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
 .circle .title5{
  font-size: 16px;
 }
 .circle1{
  top: 0;
  left: 0;
 }
 .circle2{
  left: 0;
  bottom: 0;
 }
 .circle3{
transform: none;
left: 0;
 }
 .circle4{
  right: 0;
  bottom: 0;
}
.circle5{
  top: 0;
} 
 .sub-cntn {
    min-height: 600px;
  }
}

@media screen and (max-width: 576px) {
  .col-2 , .col-3{
    width: 100%;
  
  }
  .footer-up{
    text-align: center;
  }
    .title2{
    font-size: 25px;
  }
   .bnr-cntn .title1{
        font-size: 72px;
    }
.number{
    display: none;
  }
   .sub-cntn{
    min-height: 500px;
  }
.footer-sec{
  padding-top: 100px;
}
}


@media screen and (max-width: 375px){
  .ftr-cntn p  , .last-col p{
    font-size: 13px;
  }
  .ftr-contact span , .ftr-link li{
    font-size: 14px ;
}
 .sub-cntn .title5,p{
    font-size: 13px;
  }

 
}