*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body,
html{
    overflow-x: hidden;
}

:root{
    --primary-color: #9acc20;
}
a{
    text-decoration: none;
}
body{
    background: url('../assets/signup-bg.png')no-repeat center/cover;
    min-height: 100vh;
    
}
.sign-up-card{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 62px 0;
}
.glass-card{
    max-width: 534px;
    padding: 40px 67px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 15%);
    backdrop-filter: blur(10px);
    
}


.row{
    display: flex;
    
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 36px;
    
}

.nav-logo> a{
    max-width: 126px;
}
.nav-logo > a > img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

/* .row form .input-box{
    display: flex;
} */
.details{
    color: #F5EBEB;
    font-family: "Arial";
    font-size: 14px;
    font-weight: bold;
    
}

    
#useremail,
#fullname,
#password,
#con-password{
    width: 400px;
    padding-block: 15px;
    padding-left: 23px;
    border-radius: 10px;
    border: none;
    margin: 20px 0 15px;
}

.signup-btn{
    background: var(--primary-color);
    border: none;
    color: #F5EBEB;
    width: 400px;
    padding: 16px 0;
    border-radius: 10px;
    margin: 30px 0 25px;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
}

.check-box span{
    color: #F5EBEB;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
}


.login{
    color: #555555;
    font-family: "Arial";
    font-size: 13px;
    font-weight: 400;
}

.login> a{
    color: var(--primary-color);
    font-family: "Arial";
    font-size: 13px;
    font-weight: bold;
}

@media screen and (max-width:768px){
    #fullname,
    #useremail,
#password,.signup-btn,#con-password{
    width:350px;
}

.glass-card{
    padding: 35px 37px;
}
}

@media screen and (max-width:425px){
    #fullname,
    #useremail,
#password,.signup-btn,#con-password{
    width:320px;
}
}
@media screen and (max-width:376px){
    #fullname,
    #useremail,
#password,.signup-btn,#con-password{
    width:299px;
}
.nav-logo{
    margin-bottom: 20px;
}
.check-box span{
    font-size: 11px;
}
}@media screen and (max-width:321px){
    #fullname,
    #useremail,
#password,.signup-btn,#con-password{
    width:250px;
}
.nav-logo> a{
    max-width: 110px;
}
.check-box span{
    font-size: 10px;
}
}